body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fade 1s forwards;
}
@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
